<!DOCTYPE html>
<html>
    <header>
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>swga: happy foot hair!!</title>
    </header>
    <body>
        <div>
            <ul>
                <li>
                    <a href="{{url_for('index')}}"> MAIN PAGE </a>
                    |
                    <a href="{{url_for('books')}}"> BOOKS </a>
                    |
                    <a href="{{url_for('pic_list')}}"> PICTURES </a>
                    |
                    <a href="{{url_for('video_list')}}"> VIDEOS </a>
                </li>
            </ul>
        </div>
        <div id="div_flash">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </div>
        <script type="text/javascript">
            function hide_flash()
            {
                document.getElementById("div_flash").style.display="none";
            }
            setTimeout("hide_flash()", 4000)
        </script>
    {% block body %}{% endblock %}
    </body>
</html>