{% extends "header_layout.html" %} {% block body %}
<div align="center" valign="center">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <div class="login-page">
        <div class="form">
            {% if next%}
            <form class="login-form" action="{{ url_for('login', next=next) }}" method=post>
                {% else %}
                <form class="login-form" action="{{ url_for('login') }}" method=post>
                    {% endif %}
                    <input required type="text" name="username" placeholder="username" />
                    <input required type="password" name="passwd" placeholder="password" />
                    <button type="submit">login</button>
                </form>
        </div>
    </div>
</div>
{% endblock %}